
<!-- Header -->
<header class="myhead">
  <div class ="row">
    <div class="twelve columns">
 			<h1>Paris-Tokyo-Seattle</h1>
 			<h4>portfolio exercise</h4>
 		</div>
 	</div>
 </header>
<div class="dark" >
  <div class="row" >
    <div class="small-4 columns">
      <p class="lightT">A Technical Program Manager learning and practising Ruby on Rails</p>
    </div>
    <div class="small-8 columns">
      <blockquote>“I can't go back to yesterday because I was a different person then.”  <cite>Lewis Carroll, Alice in Wonderland</cite></blockquote>
    </div>
  </div>
</div>
<div class = "main">
  <div class="row">
    <div class="small-6 large-3 columns">
      <%= image_tag "eiffel3.jpg" %>
      <p>France</p>
    </div>
    <div class="small-6 large-3 columns">
      <%= image_tag "tokyo2.jpg" %>
      <p>Japan</p>
    </div>
    <div class="small-6 large-3 columns">
      <%= image_tag "needle2.jpg" %>
      <p>USA</p>
    </div>
    <div class=”small-6 large-3 columns”>
     <%= image_tag "rocket2.jpg" %>
     <p>Next</p>
     <hr>
     <p>Home Alicia - Bonjour! ▶︎ 
     <%= link_to "My Blog", posts_path %>
     </p>
    </div>
    <hr>
 </div>
</div>

