
<!-- Main Page Content and Sidebar -->
 
<div class="row">
 
<!-- Main Blog Content -->
  <div class="large-9 columns" role="content">

<h1>Blog - Alicia</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
<br><br><br><br><br>

</div>
 
<!-- End Main Content -->

<!-- Sidebar -->
 
  <aside class="large-3 columns">
      <div class="panel">
        <h5>About</h5>
        <%= image_tag "lapin.jpg" %>
    <br><br>
        “Cat: Where are you going?<br>
Alice: Which way should I go?<br>
Cat: That depends on where you are going.<br>
Alice: I don’t know.<br>
Cat: Then it doesn’t matter which way you go.”<br>
― Lewis Carroll, Alice in Wonderland
      </div>
<br> 
    </aside>
 
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->
