
<!-- Main Page Content and Sidebar -->

<div class="row">

<!-- Main Blog Content -->
  <div class="large-9 columns" role="content">


<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
<strong>Comments</strong>
</p>
<% @post.comments.each do |comment| %>
  <p>
    <strong>Author:</strong>
    <%= comment.author %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.content %>
  </p>
<% end %>

<p>
<strong>Add a comment:</strong>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit %>
  </p>
</p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<br><br>

</div>

<!-- End Main Content -->

<!-- Sidebar -->

  <aside class="large-3 columns">
      <div class="panel">
        <h5>About</h5>
        <%= image_tag "lapin.jpg" %>
    <br><br>
        “Cat: Where are you going?<br>
Alice: Which way should I go?<br>
Cat: That depends on where you are going.<br>
Alice: I don’t know.<br>
Cat: Then it doesn’t matter which way you go.”<br>
― Lewis Carroll, Alice in Wonderland
      </div>
<br><br><br><br><br><br>
    </aside>
    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->
